@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@0..1&display=block');


:root {
    --ff-primary: Lexend_Deca, sans-serif;

    --light-color: #B4CE9D;
    --main-color: #6A8B52;
    --near-color: #bcd3a9;
    --light: #FAF8F4;
    --dark: #5C4B3B;
    --medium: #B89C83;
    --red: #C33746;
    --light-perma: #FAF8F4;
    --dark-perma: #5C4B3B;
}

.light_mode{
    --light-color: #B4CE9D;
    --light: #FAF8F4;
    --dark: #5C4B3B;
    --near-color: #bcd3a9;
}

.dark_mode {
    --light: #363736;
    --dark: #FAF8F4;
    --near-color: #42473d;
}

.amir_mode {
    --main-color: #5f8ec4;
    --light-color: #a5c2dd;
    --near-color: #b3ccdf;
}

@font-face {
    font-family: Lexend_Deca;
    src: url(/LexendDeca.ttf);
}

body {
    color: var(--dark);
    /* background-color: var(--light); */
    background: linear-gradient(var(--light) 50%, var(--near-color) 100%);
    background-size: cover;
    font-family: var(--ff-primary) !important;
    /* margin:0px; */
    /* max-height: 90vh; */
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    mask: url(/Decor.png);
    mask-size: 110%;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: var(--near-color);
    /* opacity: .7; */
    background-size: contain;
    position: fixed;
    top: -7em;
    right: 0;
    left: 0;
    margin: auto;
    height: 30vh;
    width: 100%;
    background-repeat: repeat-x;
    z-index: -1;
    background-repeat: no-repeat;
}

.material-symbols-outlined {
    max-width:2em;
}
.fill{
    font-variation-settings:'FILL' 1 !important;
}