.spread{
  display: flex;
  justify-content: space-between;
}

.spaced-even{
  display: flex;
  justify-content: space-evenly;
}

.spaced-around{
  display: flex;
  justify-content: space-around;
}

.full-width{
  width: 100%;
}

.space-before{
  margin-top: 15px;
}

.half-space-before{
  margin-top: 7px;
}

.space-after{
  margin-bottom: 15px;
}

.gap-after{
  margin-bottom: 30px;
}

.gap-before{
  margin-top: 30px;
}

.gap20{
  gap: 20px;
}

.gap10{
  gap: 10px !important;
}

.gap5{
  gap: 5px;
}

.h-center{
  display: flex;
  align-items: center;
}

.v-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex{
	display: flex;
}

.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.vertical {
	display: flex;
	flex-direction: column;
}

.center{
  /* margin: auto; */
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.text-center{
	text-align: center;
}

.two-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.text-input-button {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
}