@import url("base.css");
@import url("layout.css");

#app {
    max-width: 1280px;
    margin: 0 auto;
    /* margin: 0; */
    padding: 1rem;
    font-weight: normal;

    /* display:grid; */
    /* grid-template-rows: auto 1fr auto; */
    /* height:100vh; */
    /* box-sizing:border-box; */
}

main {
    /* height: 85%; */
    flex-shrink: none;
    display: flex;
    flex-direction: column;
}

.border * {
    outline: 1px solid var(--dark);
}

body > * {
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-tap-highlight-color: transparent;
}

img,
picture,
svg {
    max-width: 100%;
}

h1 {
    text-align: center;
    font-size: 1.5rem;
}

label {
    margin-bottom: 10px;
}

.text-input {
    border: 2px solid var(--medium);
    border-radius: 8px;
    padding: 5px 10px;
    color: var(--dark-perma);
    font-weight: 600;
    font-family: inherit;
    height: 1.3rem;
}

.text-input:focus {
    outline: unset;
    border-color: var(--dark);
}

button {
    all: unset;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: all .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:active {
    scale: .9;
}

.color-button {
    background-color: var(--main-color);
    color: var(--light-perma);
}

.blank-button {
    border: 2px solid var(--medium);
}

.medium-button{
    background-color: var(--medium);
    color: var(--light-perma);
}

.dark-button{
    background-color: var(--dark-perma);
    color: var(--light-perma);
}

.red-button {
    background-color: var(--red);
    color: var(--light);
}

.small {
    font-size: small;
}

.smaller {
    font-size: smaller;
}

.medium {
    font-size: medium;
}

.large {
    font-size: large;
}

.xxxlarge {
    font-size: xxx-large;
}

.title {
    margin-left: auto;
    margin-right: auto;
}

.red-text {
    color: var(--red) !important;
}

.color-text {
    color: var(--main-color);
}

.profile-icon {
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid var(--dark);
}

.backdrop {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--dark-perma);
    mix-blend-mode: darken;
    opacity: .8;
    z-index: 1;
    animation: fade-in .2s linear;
}

.pop-window {
    position: fixed;
    right: 40px;
    left: 40px;
    top: 50%;
    bottom: 50%;
    max-height: 70%;
    align-self: center;
    background-color: var(--light);
    border: 3px solid var(--dark);
    border-radius: 10px;
    padding: 15px;
    z-index: 2;
    animation: pop .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pop-window h3 {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

.scroll {
    border-radius: 10px;
    overflow: scroll;
    padding: 10px;
    margin: -10px;
}

.scroll-main{
    border-radius: 10px;
    overflow: scroll;
    padding: 10px 10px 10vh 10px;
    margin: 0px -10px;
    max-height: 65vh;
    /* so that the content fades away more */
    /* min-height: calc(100vh - 240px); */
    /* padding-bottom:360px; */
}

.circle {
    aspect-ratio: 1;
    border-radius: 50%;
}

@keyframes pop {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* slide up menu */

.slide-up-window {
    position: fixed;
    --pad: 40px;
    --pad-bottom: var(--pad);
    right: var(--pad);
    left: var(--pad);
    bottom: var(--pad-bottom);
    max-height: 70%;
    background-color: var(--light);
    border: 3px solid var(--dark);
    border-radius: 10px;
    padding: 15px;
    z-index: 2;

    height: max-content;
    /* animation: slide-up .3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards; */
    translate: 0px 0%;
}

@keyframes slide-up {
    0%{
        translate: 0px 100%;
    }
    100%{
        translate: 0px 0%;
    }
}