@import url("base.css");
@import url("layout.css");

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	font-weight: normal;
}

main{
  /* height: 85%; */
  flex-shrink: none;
  display: flex;
  flex-direction: column;
}

.border * {
	outline: 1px solid var(--dark);
}

img, picture, svg {
  max-width: 100%;
}

h1{
  text-align: center;
}

label{
  margin-bottom: 10px;
}

.text-input{
  border: 2px solid var(--medium);
  border-radius: 8px;
  height: 2rem;
  padding: 0px 10px;
  color: unset;
  font-weight: 600;
}

.text-input:focus{
  outline: unset;
  border-color: var(--dark);
}

button{
  all: unset;
  border-radius: 8px;
  padding: 10px 0px;
  text-align: center;
  transition: all .1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button:active {
  scale: .9;
}

.color-button{
  background-color: var(--main-color);
  color: var(--light);
}

.blank-button{
  border: 2px solid var(--medium);
}

.red-button{
  background-color: var(--red);
  color: var(--light);
}

.small{
  font-size: small;
}

.red-text{
  color: var(--red);
}

.profile-icon{
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--main-color);
  margin-right: 10px;
}

.backdrop{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: var(--dark);
    opacity: .8;
    z-index: 1;
    animation: fade-in .2s linear;
}

.pop-window{
    position: fixed;
    right: 40px;
    left: 40px;
    top: 50%;
    bottom: 50%;
    max-height: 70%;
    align-self: center;
    background-color: var(--light);
    border: 3px solid var(--dark);
    border-radius: 10px;
    padding: 15px;
    z-index: 2;
    animation: pop .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.pop-window h3{
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.scroll{
  border-radius: 10px;
  overflow: scroll;
  max-height: 50%;
  padding: 10px;
}

.circle{
  aspect-ratio: 1;
  border-radius: 50%;
}

@keyframes pop{
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

@keyframes fade-in{
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}